<div xmlns:th="http://www.thymeleaf.org">
    <div th:each="board : ${boards}" class="row content" style="padding: 1rem 0 1rem 0">
        <div class="col list-subject">
            <div th:text="${board.subject}"></div>
        </div>
        <div class="col-4 span-container">
            <span class="icon">
                <i class="bi bi-chat-dots"></i>
                <span th:text="${board.commentCount}"></span>
            </span>
            <span class="icon">
                <i class="bi bi-hand-thumbs-up"></i>
                <span th:text="${board.recommendationCount}"></span>
            </span>
            <span class="icon">
                <i class="bi bi-door-open"></i>
                <span th:text="${board.visitCount}"></span>
            </span>
            <span class="icon">
                <i class="bi bi-file-fill text-danger"></i>
                <span th:text="${board.reportCount}"></span>
            </span>
        </div>
        <div class="col-2 span-container">
            <span th:text="${board.user.nickname}"></span>
            <span th:text="${board.getRegDateFormatted()}"></span>
        </div>
    </div>
    <div class="page-button-container">
        <nav aria-label="Page navigation example">
            <ul class="pagination paging" th:data-pageno='${ pageNo }' th:data-datacount="${ dataCount }">
                [(${ pager })]
            </ul>
        </nav>
    </div>
</div>