/* Admin - Notice Section */
.notice-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.notice-container h4 {
  margin: 0 !important;
}

.content-list-container {
  margin-top: 1rem;
}

.content-list-item {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  border-top: 1px solid lightgray;
}

.controller-btn {
  font-size: 1.5rem;
  transition: all 0.2s;
}
.controller-btn:hover {
  font-size: 2rem;
}

.notice-content {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}
.notice-content:hover {
  box-shadow: inset 0px 0px 10px #666;
}

.list-subject {
  align-self: center;
}

.notice-search-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.notice-search {
  width: 20vw;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 5px;
}
.notice-search:focus {
  outline: none;
}


/* Admin - Board Management Section */
.content-controller-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.board-manage-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.board-manage-sort-container {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  font-size: 1.2rem;
}


/* Admin - Control Category Section */
.control-category-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.add-small-category-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.category-manage {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.category-name {
  justify-self: center;
  align-self: center;
  text-align: center;
  font-size: 1.1rem;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.control-button-container {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.control-button {
    font-size: 0.9rem;
}

.modal-modify-category {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
}

.modal-modify-category i {
  font-size: 2rem;
}

.modal-category-value {
  padding: 5px;
  width: 15vw;
}


/* Admin - User Manage Section */
.user-controller-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1rem;
}

.user_info_header {
  position: absolute;
  left: 70%;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  font-weight: 600;
}

.accordion-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user_info_main {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.user_info_main i {
  font-size:1.5rem;
}


/* Admin - Schedule Manage Section */
.schedule-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.date-select-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
}
.date-select {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
  font-size: 1.1rem;
}

.grid-select-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.competition-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
}

.schedule-save-button {
  width: 50%;
  align-self: center;
}

.list-control-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.list-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.list-item {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}

.team-item {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.list-item img {
  width: 50px;
  height: 50px;
}

.modal-data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* Admin - Schedule Manage Section */
.schedule-control-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  align-items: end;
}

.date-control-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
}

/* Time Table Section */
.schedule-bottom-container {
  width: 100%;
  padding-top: 1rem;
  overflow: hidden;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #333;
  border-radius: 8px;
}

.schedule-table thead {
    background-color: lightgray;
}

.schedule-table th, .schedule-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #333;
}

.schedule-table td img {
  vertical-align: middle;
  height: 20px;
  margin: 0 6px;
}

.schedule-modal-container {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}


/* Admin - Ranking Section */
.result-game-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.game-category-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.game-team-container {
  display: flex;
  flex-direction: column;
}

.team-header-container {
  display: flex;
  justify-content: space-around;
}

.game-score-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.1fr 0.5fr 1fr;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}

.game-score-container span {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.game-score-container input {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.result-save-button {
  margin-top: 2rem;
}

.ranking-table-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.ranking-table-container div {
  padding-bottom: 1rem;
}

.table-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #333;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow-x: auto;
  padding-bottom: 0 !important;
}
.table-container td {
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
}

th, td {
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
  color: #333;
}

td img.logo {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 6px;
}

.table-container tbody tr {
  transition: all 0.3s;
  cursor: pointer;
}
.table-container tbody tr:hover {
  background-color: #fff !important;
}
.table-container tbody tr:hover td {
  color: #333;
}

.adjust-league-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.adjust-ranking-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}
.adjust-ranking-container span {
  font-size: 1.2rem;
  font-weight: bold;
}
.adjust-league-container button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.modal-body-header {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
}
.modal-body-header div {
  font-size: 2rem;
  font-weight: bold;
}
.modal-body-header img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: 6px;
}

.modal-body-main {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 2rem;
}
.modal-body-main h5 {
  text-align: center;
}
