/* Content Section */
.content-section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.content-subject-container {
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  row-gap: 5px;
}

.dividing-line {
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
}
.dividing-line:last-child {
  border: none;
  padding-bottom: 0;
}

.content-subject {
  font-size: 1.5rem;
}

.category-button {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.category-button .content-category {
  border: 1px solid lightgray;
}

.board-info {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.info-data {
  font-size: 1rem;
}
.info-data:first-child {
  font-size: 1.2rem;
}

.content-button-list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.top-button-list {
  display: flex;
  justify-content: space-evenly;
}

.top-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.top-button i {
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}
/* 흔들기 애니메이션 */
@keyframes shake {
  0%, 100% { transform: rotate(0); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  75% { transform: rotate(-5deg); }
}

.bottom-button-list {
  display: flex;
  justify-content: space-between;
}

.content-button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 0px 5px #999999;
}
.content-button:hover {
  box-shadow: inset 0px 0px 10px #666;
}

/* 댓글 */
.comment-content-section {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.comment-content-item {
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  row-gap: 5px;
  border-bottom: 1px dotted lightgray;
  padding: 10px;
}

/* .best-content {
  background-color: rgb(182, 205, 255);
  color: black;
} */

.recomment {
  margin-left: 2rem;
}

.item-header {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.modifier {
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 10px;
  padding: 2px;
  color: #fff;
}

.nickname-font {
  font-size: 1.1rem;
}
.date-font {
  font-size: 0.9rem;
  align-self: center;
}

.comment-button-common {
  cursor: pointer;
}

.modify-comment-button, .delete-comment-button {
  font-size: 0.9rem;
}

.dots-button {
  position: absolute;
  right: 10px;
}

.report-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 3px;
  padding: 3px;
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #444;
  position: absolute;
  right: 0;
  background-color: #fff;
}

.comment-write-section {
  padding: 10px;
  background-color: #fff;
}

.write-comment {
  width: 100%;
  height: 10vh;
  padding: 5px;
  border: none;
  border-radius: 10px;
  resize: none;
  background-color: lightgray;
}
.write-comment:focus {
  outline: none;
}

.comment-write-button {
  float: right;
  /*border: 1px solid #007bff;*/
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 0px 5px #999999;
  color: #fff;
}
.comment-write-button:hover {
  box-shadow: inset 0px 0px 10px #666;
}

.recomment-button-box {
  display: flex;
  flex-direction: row;
  justify-content: end;
  column-gap: 10px;
}

.comment-action-button {
  float: right;
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 0px 5px #999999;
  color: #fff;
}
.comment-action-button:hover {
  box-shadow: inset 0px 0px 10px #666;
}
.write-recomment {
  border: 1px solid #007bff;
}
.close-recomment {
  border: 1px solid #dc3545;
}

.block-comment-section {
  padding: 10px;
}
.block-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: lightgray;
  font-size: 1.2rem;
}

.comment-login-button {
  padding: 5px;
  background-color: #fff;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 5px #444;
  border-radius: 10px;
  color: black;
}
.comment-login-button:hover {
  box-shadow: inset 0px 0px 10px #666;
}