<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/hubPage.css">
    <title>FootballHub</title>
</head>
<body>
    <div th:replace="~{/modules/header}"></div>
    <input id="socialMethod" type="hidden" th:if="${session.user != null}" th:value="${session.user.socialMethod}">

    <main>
        <div class="main-container">
            <div class="container section content-container">
                <h4>알림사항</h4>
                <ul class="announce-container">
                    <li>
                        <i class="bi bi-emoji-smile-fill text-primary"></i>
                        개선이 필요한 부분을 말씀해주세요!
                    </li>
                    <li>
                        <i class="bi bi-emoji-smile-fill text-primary"></i>
                        일반HUB, 팬덤HUB, FootballWiki, 순위표 등 카테고리 별 개선사항을 적어주세요.
                    </li>
                    <li>
                        <i class="bi bi-emoji-smile-fill text-primary"></i>
                        빠른 시일 안에 개선해 나가겠습니다.
                    </li>
                </ul>
            </div>
            <div class="container section content-container">
                <div class="subject-select-container">
                    <th:block th:if="${sortValue == 'latest'}">
                        <span class="subject sort-button underline" data-value="latest">최신순</span>
                        <span class="subject sort-button" data-value="late">오래된순</span>
                    </th:block>
                    <th:block th:if="${sortValue == 'late'}">
                        <span class="subject sort-button" data-value="latest">최신순</span>
                        <span class="subject sort-button underline" data-value="late">오래된순</span>
                    </th:block>
                    <select class="form-select" id="categorySelect" aria-label="Default select example">
                        <option value="all" th:selected="${category == 'all'}">전체</option>
                        <option value="일반HUB" th:selected="${category == '일반HUB'}">일반HUB</option>
                        <option value="팬덤HUB" th:selected="${category == '팬덤HUB'}">팬덤HUB</option>
                        <option value="FootballWiki" th:selected="${category == '일정표'}">일정표</option>
                        <option value="순위표" th:selected="${category == '순위표'}">순위표</option>
                        <option value="기타" th:selected="${category == '기타'}">기타</option>
                    </select>
                </div>
                <div class="search-write-container">
                    <div>
                        <input th:if="${searchValue.length == 0}"
                               type="text" id="searchValue" placeholder="글제목 검색">
                        <input th:unless="${searchValue.length == 0}"
                               th:value="${searchValue}"
                               type="text" id="searchValue" placeholder="글제목 검색">
                        <button class="search-write-button">검색</button>
                    </div>
                    <button th:if="${session.user != null}"
                            class="search-write-button" id="writeRequestButton">글쓰기</button>
                </div>
                <div id="contentModule">
                </div>
            </div>
        </div>
    </main>
    <input type="hidden" id="pageNo" th:value="${pageNo}">
    <input type="hidden" id="sortValue" th:value="${sortValue}">
    <input type="hidden" id="category" th:value="${category}">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="text/javascript" th:inline="javascript">
        $(window).on('load', function() {
            const writeRequestButton = $('#writeRequestButton');
            const contentModule = $('#contentModule');
            let pageNo = $('#pageNo').val();
            let sortValue = $('#sortValue').val(); // 정렬 값
            let category = $('#category').val(); // 카테고리 값
            let searchValue = $('#searchValue').val(); // 검색 값
            const sortButton = $('.sort-button');
            const categorySelect = $('#categorySelect');
            const searchButton = $('.search-write-button');

            // 현재 page nav에 표시
            const locationCategories = $('.location-category');
            locationCategories.eq(4).addClass('active');
            locationCategories.eq(4).addClass('text-primary');

            // 글쓰기 버튼
            writeRequestButton.on('click', (e) => {
                location.href = "/request/write";
            });

            // 글 load
            contentModule.load("/request/get-contents?pageNo=" + pageNo + "&sortValue=" + sortValue +
                                                      "&category=" + category + "&searchValue=" + searchValue);

            // 최신순, 오래된순 정렬
            sortButton.on('click', (e) => {
                sortButton.removeClass('underline');
                $(e.currentTarget).addClass('underline');

                sortValue = $(e.currentTarget).data('value');
                contentModule.load("/request/get-contents?pageNo=" + pageNo + "&sortValue=" + sortValue +
                                                          "&category=" + category + "&searchValue=" + searchValue);
            });

            // 카테고리별 정렬
            categorySelect.on('change', (e) => {
                category = $('#categorySelect').val();
                console.log(category);
                contentModule.load("/request/get-contents?pageNo=" + pageNo + "&sortValue=" + sortValue +
                                                          "&category=" + category + "&searchValue=" + searchValue);
            });

            // 글제목 검색 FUNCTION
            function search() {
                searchValue = $('#searchValue').val();
                contentModule.load("/request/get-contents?searchValue=" + searchValue + "&sortValue=" + sortValue +
                                                          "&category=" + category);
            }

            // 글제목 검색
            searchButton.on('click', (e) => {
                search();
            });
            // 글제목 검색 Enter
            $('#searchValue').on('keyup', (key) => {
                if (key.keyCode == 13) {
                    search();
                }
            });

            // pagination
            contentModule.on('click', '.page-item', function(e) {
                let pageNo = $('.paging').data('pageno');
                const lastPageNo = Math.floor(($('.paging').data('datacount') / 10) + (($('.paging').data('datacount') % 10) > 0 ? 1 : 0));
                if (/«/.test($(this).text())) pageNo = 1;
                if ($(this).text() == '<') pageNo = pageNo - 1 < 1 ? 1 : pageNo - 1;
                if ($(this).text() == '>') pageNo = pageNo + 1 > lastPageNo ? lastPageNo : pageNo + 1;
                if (/»/.test($(this).text())) pageNo = lastPageNo;
                if (!isNaN($(this).text())) pageNo = $(this).text();

                contentModule.load("/request/get-contents?pageNo=" + pageNo + "&sortValue=" + sortValue +
                                                          "&category=" + category + "&searchValue=" + searchValue);
            });

            // 상세글로 이동
            contentModule.on('click', '.content', (e) => {
                const index = $(e.currentTarget).data('index');
                const count = $('.paging').data('datacount');
                const pageNo = $('.paging').data('pageno');

                location.href = '/request/detail-content?index=' + index + '&pageNo=' + pageNo +
                                                    '&from=home' + '&sortValue=' + sortValue +
                                                    '&category=' + category + '&fromPage=request' +
                                                    '&count=' + count + '&searchValue=' + searchValue;
            });
        });
    </script>
</body>
</html>