<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/write.css">
    <title>FootballHub</title>
</head>
<body>
    <div th:replace="~{modules/header}"></div>
    <input id="socialMethod" type="hidden" th:if="${session.user != null}" th:value="${session.user.socialMethod}">

    <form id="writeBoardForm" action="/request/write-board" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="userId" th:value="${session.user.userId}">
    <main>
        <div class="main-container">
            <div class="board-container">
                <ul class="announce-container">
                    <li class="text-primary">개선사항에 대해 적어주세요.</li>
                    <li class="text-primary">작성된 글은 개발자에게 전달되며 내용에 따라 반영이 안 될 수 있음을 알립니다.</li>
                    <li class="text-primary">또한 작성된 글은 수정이 불가능합니다. 추가 의견은 댓글에 적어주시길 바랍니다.</li>
                </ul>
                <div class="write-header">
                    <select name="category" class="form-select write-subject" id="requestCategory" aria-label="Default select example">
                        <option value="일반HUB">일반HUB</option>
                        <option value="팬덤HUB">팬덤HUB</option>
                        <option value="FootballWiki">FootballWiki</option>
                        <option value="순위표">순위표</option>
                        <option value="기타">기타</option>
                    </select>
                </div>
                <input type="text" class="write-subject" id="requestSubject" name="subject" placeholder="제목">
                <textarea name="content" class="request-content" id="requestContent" placeholder="내용을 입력해주세요."></textarea>
            </div>
            <button type="button" class="write-button">글작성</button>
        </div>
    </main>
    </form>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="text/javascript" th:inline="javascript">
        $(window).on('load', function() {
            const writeButton = $('.write-button');

            // 현재 page nav에 표시
            const locationCategories = $('.location-category');
            locationCategories.eq(4).addClass('active');
            locationCategories.eq(4).addClass('text-primary');

            writeButton.on('click', (e) => {
                const requestCategory = $('#requestCategory').val();
                const requestSubject = $('#requestSubject').val();
                const requestContent = $('#requestContent').val();
                const writeBoardForm = $('#writeBoardForm');
                const data = writeBoardForm.serializeArray();

                if (requestCategory.length == 0) {
                    alert('카테고리를 선택해주세요');
                    e.preventDefault();
                    return;
                }
                if (requestSubject.length == 0) {
                    alert('제목을 입력해주세요.');
                    e.preventDefault();
                    return;
                }
                if (requestContent.length == 0) {
                    alert('내용을 입력해주세요.');
                    e.preventDefault();
                    return;
                }

                $.ajax({
                    url : writeBoardForm.attr('action'),
                    method : writeBoardForm.attr('method'),
                    data : data,
                    dataType : "text",
                    success : (response, status, xhr) => {
                        if (response == "success") {
                            alert('작성하였습니다.');
                            location.href = "/request/home";
                        }
                    },
                    error : (xhr, status, error) => {
                        alert('글을 작성하지 못하였습니다. 다시 시도해주세요.');
                    }
                });
            });

        });
    </script>
</body>
</html>