<div class="container written-content-container" xmlns:th="http://www.thymeleaf.org">
    <div class="row written-content" th:each="comment : ${comments}" th:data-boardid="${comment.board.boardId}">
        <div class="col">
            <div th:text="${comment.board.subject}"></div>
            <div>
                <span class="content-category" th:text="${comment.board.largeCategory.largeCategoryName}"></span>
                <span class="content-category"
                      th:if="${comment.board.smallCategory != null}"
                      th:text="${comment.board.smallCategory.smallCategoryName}"></span>
            </div>
        </div>
        <div class="col span-container">
            <span th:text="${comment.content}"></span>
        </div>
        <div class="col-2 span-container">
            <span th:text="${comment.getRegDateFormatted()}"></span>
        </div>
    </div>
</div>
<div class="page-button-container">
    <nav aria-label="Page navigation example">
        <ul class="pagination paging" id="likedCommentPaging" th:data-pageno='${ pageNo }' th:data-datacount="${ dataCount }">
            [(${ pager })]
        </ul>
    </nav>
</div>