<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.mezzala.dto.UserDto" alias="UserDto" />
		<typeAlias type="com.mezzala.dto.BoardLargeCategoryDto" alias="BoardLargeCategoryDto" />
		<typeAlias type="com.mezzala.dto.BoardSmallCategoryDto" alias="BoardSmallCategoryDto" />
		<typeAlias type="com.mezzala.dto.BoardDto" alias="BoardDto" />
		<typeAlias type="com.mezzala.dto.BoardAttachDto" alias="BoardAttachDto" />
		<typeAlias type="com.mezzala.dto.UserActionDto" alias="UserActionDto" />
		<typeAlias type="com.mezzala.dto.CommentDto" alias="CommentDto" />
		<typeAlias type="com.mezzala.dto.CommentActionDto" alias="CommentActionDto" />
		<typeAlias type="com.mezzala.dto.RequestBoardDto" alias="RequestBoardDto" />
	</typeAliases>

	<mappers>
		<mapper resource="com/mezzala/mapper/AccountMapper.xml"/>
		<mapper resource="com/mezzala/mapper/BoardMapper.xml"/>
		<mapper resource="com/mezzala/mapper/MypageMapper.xml"/>
		<mapper resource="com/mezzala/mapper/NormalhubMapper.xml"/>
		<mapper resource="com/mezzala/mapper/FandomhubMapper.xml"/>
		<mapper resource="com/mezzala/mapper/RequestMapper.xml"/>
	</mappers>

</configuration>