<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/admin.css">
    <title>FootballHub</title>
</head>
<body>
    <div th:replace="~{admin/modules/header}"></div>
    <input id="socialMethod" type="hidden" th:if="${session.user != null}" th:value="${session.user.socialMethod}">

    <main>
        <div class="main-container">
            <div class="container section result-game-container">
                <h4>경기 결과</h4>
                <div class="game-category-container">
                    <div>
                        <h5>시즌</h5>
                        <input type="text" id="seasonValue" class="form-control" readonly>
                    </div>
                    <div>
                        <h5>리그</h5>
                        <select id="competitionSelect" class="form-select" aria-label="Default select example">
                            <option th:each="competition : ${competitions}"
                                    th:value="${competition.competitionId}"
                                    th:text="${competition.competitionName}"></option>
                        </select>
                    </div>
                </div>
                <div class="game-team-container">
                    <div class="team-header-container">
                        <h5>홈팀</h5>
                        <h5>어웨이팀</h5>
                    </div>
                    <div class="game-score-container">
                        <div class="input-group" data-value="home">
                            <input type="text" class="form-control team-value" id="homeTeam" placeholder="팀 검색">
                            <input type="hidden" id="homeTeamId">
                            <button class="btn btn-outline-secondary team-search-button" type="button">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                        <input type="number" class="form-control score-value" id="homeScore" placeholder="점수를 입력해주세요.">
                        <span> : </span>
                        <input type="number" class="form-control score-value" id="awayScore" placeholder="점수를 입력해주세요.">
                        <div class="input-group" data-value="away">
                            <input type="text" class="form-control team-value" id="awayTeam" placeholder="팀 검색">
                            <input type="hidden" id="awayTeamId">
                            <button class="btn btn-outline-secondary team-search-button" type="button">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary result-save-button" id="resultSaveButton">저장</button>
            </div>
            <div class="container section ranking-table-container">
                <h4>순위표</h4>
                <div class="game-category-container">
                    <div>
                        <h5>시즌</h5>
                        <select id="seasonSelect" class="form-select" aria-label="Default select example"></select>
                    </div>
                    <div>
                        <h5>리그</h5>
                        <select id="rankingCompetitionSelect" class="form-select" aria-label="Default select example">
                            <option th:each="competition : ${competitions}"
                                    th:value="${competition.competitionId}"
                                    th:text="${competition.competitionName}"></option>
                        </select>
                    </div>
                </div>
                <div id="moduleBox">
                    <!-- 유럽대항전, 순위표 모듈 -->
                </div>
            </div>
        </div>
    </main>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">팀 선택</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2 class="fs-5">팀 검색</h2>
                    <input type="text" class="team-search" id="teamSearchValue">
                    <hr>
                    <h2 class="fs-5">팀 목록</h2>
                    <p class="fandom-item-container">
                        <span class="btn btn-outline-primary fandom-item"
                              th:each="team : ${teams}"
                              th:data-value="${team.teamId}"
                              th:text="${team.teamName}"></span>
                    </p>
                    <input type="hidden" id="modalFromValue">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 팀수정 Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModal2Label">기록 수정</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body-header">
                        <div id="modalRankingNumber"></div>
                        <img id="modalTeamLogo" alt="team_logo">
                        <div id="modalTeamName"></div>
                    </div>
                    <div class="modal-body-main">
                        <div>
                            <h5>승</h5>
                            <input type="number" id="modalTeamWin" class="form-control">
                        </div>
                        <div>
                            <h5>무</h5>
                            <input type="number" id="modalTeamDraw" class="form-control">
                        </div>
                        <div>
                            <h5>패</h5>
                            <input type="number" id="modalTeamLose" class="form-control">
                        </div>
                        <div>
                            <h5>득</h5>
                            <input type="number" id="modalTeamScorePoint" class="form-control">
                        </div>
                        <div>
                            <h5>실</h5>
                            <input type="number" id="modalTeamLosePoint" class="form-control">
                        </div>
                        <input type="hidden" id="rankingId">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" id="modifyRecordButton" class="btn btn-primary">수정</button>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="text/javascript" th:inline="javascript">
        $(window).on('load', function() {
            // 현재 page nav에 표시
            const locationCategories = $('.location-category');
            locationCategories.eq(5).addClass('active');
            locationCategories.eq(5).addClass('text-primary');

            const today = new Date();
            const year = today.getFullYear();
            const month = today.getMonth() + 1; // getMonth()는 0부터 시작하므로 +1

            const startYear = month < 7 ? year - 1 : year;
            const endYear = startYear + 1;

            // 두 자리수로 만들기 위해 slice(-2) 사용
            const seasonValue = `${String(startYear).slice(-2)}/${String(endYear).slice(-2)}`;
            $('#seasonValue').val(seasonValue);

            const teamValue = $('.team-value');
            const teamSearchButton = $('.team-search-button');
            const scoreValue = $('.score-value');
            const teamSearchValue = $('#teamSearchValue');
            const seasonSelect = $('#seasonSelect');
            const rankingCompetitionSelect = $('#rankingCompetitionSelect');
            const teamItem = $('.table-container tbody tr');
            const homeTeam = $('#homeTeam');
            const homeTeamId = $('#homeTeamId');
            const awayTeam = $('#awayTeam');
            const awayTeamId = $('#awayTeamId');
            const modalFromValue = $('#modalFromValue');
            const resultSaveButton = $('#resultSaveButton');
            const moduleBox = $('#moduleBox');

            // 홈팀, 어웨이팀 클릭 시 모달창 열기
            teamValue.on('click', (e) => {
                $('#exampleModal').modal('show');
                modalFromValue.val($(e.currentTarget).parent().data('value'));
            });
            teamSearchButton.on('click', (e) => {
                $('#exampleModal').modal('show');
                modalFromValue.val($(e.currentTarget).parent().data('value'));
            });

            // 스코어에 음수 입력 방지
            scoreValue.on('keydown', (e) => {
                if (e.key === '-' || e.key === "Subtract") {
                    alert("음수는 입력할 수 없습니다.");
                    e.preventDefault();
                }
            });
            scoreValue.on('input', (e) => {
                const value = Number($(e.currentTarget).val());
                if (value < 0) {
                    alert("음수는 입력할 수 없습니다.");
                    $(e.currentTarget).val(0);
                }
            });

            // 홈팀, 어웨이팀 검색 (Modal)
            teamSearchValue.on('input', (e) => {
                const keyword = $(e.currentTarget).val().trim();

                $('.fandom-item').each(function() {
                    const text = $(this).text();
                    if (text.includes(keyword)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
            $('.fandom-item').on('click', (e) => {
                const from = modalFromValue.val();
                const value = $(e.currentTarget).text();
                const id = $(e.currentTarget).data('value');

                if (from == "home") {
                    homeTeam.val(value);
                    homeTeamId.val(id);
                }
                if (from == "away") {
                    awayTeam.val(value);
                    awayTeamId.val(id);
                }
                $('#exampleModal').modal('hide');
            });


            let start = (month < 7) ? 14 : 15; // 시작 연도
            let end = (month < 7) ? 24 : 25;   // 끝 연도

            // selected가 될 시즌 값 계산
            const selectedValue = `${(month < 7 ? year - 1 : year).toString().slice(-2)}${(month < 7 ? year : year + 1).toString().slice(-2)}`;

            const $select = $('#seasonSelect');
            $select.empty(); // 기존 option 제거

            // 시즌 Option 추가
            for (let i = start; i <= end; i++) {
                const from = i;
                const to = i + 1;
                const value = `${from}${to.toString().padStart(2, '0')}`;
                const text = `${from}/${to.toString().padStart(2, '0')}`;

                const isSelected = (value === selectedValue) ? 'selected' : '';

                $select.append(`<option value="${value}" ${isSelected}>${text}</option>`);
            }

            // 챔피언스리그, 유로파 및 컨퍼런스 Select Option 추가
            function appendOption() {
                const clFrom = $('#clFromValue').val();
                const clTo = $('#clToValue').val();
                const olFrom = $('#olFromValue').val();
                const olTo = $('#olToValue').val();

                for (let i = 1; i <= 10; i++) {
                    const text = `${i}위`;
                    if (i == clFrom) {
                        $('#championsLeagueFrom').append(`<option value="${i}" selected>${text}</option>`);
                    } else {
                        $('#championsLeagueFrom').append(`<option value="${i}">${text}</option>`);
                    }

                    if (i == clTo) {
                        $('#championsLeagueTo').append(`<option value="${i}" selected>${text}</option>`);
                    } else {
                        $('#championsLeagueTo').append(`<option value="${i}">${text}</option>`);
                    }

                    if (i == olFrom) {
                        $('#otherLeagueFrom').append(`<option value="${i}" selected>${text}</option>`);
                    } else {
                        $('#otherLeagueFrom').append(`<option value="${i}">${text}</option>`);
                    }

                    if (i == olTo) {
                        $('#otherLeagueTo').append(`<option value="${i}" selected>${text}</option>`);
                    } else {
                        $('#otherLeagueTo').append(`<option value="${i}">${text}</option>`);
                    }
                }
            }

            /* 순위표 설정 Section */
            let competitionValue = $('#rankingCompetitionSelect').val();
            let season = $('#seasonSelect').val();
            const modifyRecordButton = $('#modifyRecordButton');

            // 유럽대항전 진출 순위 조정, 순위표 LOAD
            moduleBox.load("/admin/get-rankingTable?competitionValue=" + competitionValue + "&seasonValue=" + season, () => {
                appendOption();
            });

            // 시즌별 LOAD
            seasonSelect.on('change', (e) => {
                season = seasonSelect.val();
                competitionValue = rankingCompetitionSelect.val();

                moduleBox.load("/admin/get-rankingTable?competitionValue=" + competitionValue + "&seasonValue=" + season, () => {
                    appendOption();
                });
            });
            rankingCompetitionSelect.on('change', (e) => {
                season = seasonSelect.val();
                competitionValue = rankingCompetitionSelect.val();

                moduleBox.load("/admin/get-rankingTable?competitionValue=" + competitionValue + "&seasonValue=" + season, () => {
                    appendOption();
                });
            });

            // 순위 클릭 시 모달창 열기
            moduleBox.on('click', '.table-container tbody tr', (e) => {
                const $row = $(e.currentTarget); // 클릭한 tr

                // 각 셀 텍스트 가져오기
                const count = $row.find('td').eq(0).text().trim();
                const teamName = $row.find('td').eq(1).find('span').text().trim();
                const teamTd = $row.find('td').eq(1);
                const logoAddress = teamTd.find('img').attr('src');
                const matchCount = $row.find('td').eq(2).text().trim();
                const win = $row.find('td').eq(3).text().trim();
                const draw = $row.find('td').eq(4).text().trim();
                const lose = $row.find('td').eq(5).text().trim();
                const scorePoint = $row.find('td').eq(6).text().trim();
                const losePoint = $row.find('td').eq(7).text().trim();
                const rankingId = $row.find('input[type="hidden"]').val();

                $('#modalRankingNumber').text(`${count}위`);
                $('#modalTeamLogo').attr('src', logoAddress);
                $('#modalTeamName').text(teamName);
                $('#modalTeamWin').val(win);
                $('#modalTeamDraw').val(draw);
                $('#modalTeamLose').val(lose);
                $('#modalTeamScorePoint').val(scorePoint);
                $('#modalTeamLosePoint').val(losePoint);
                $('#rankingId').val(rankingId);

                $('#exampleModal2').modal('show');
            });

            // 기록 수정 버튼
            modifyRecordButton.on('click', (e) => {
                const rankingId = $('#rankingId').val();
                const win = $('#modalTeamWin').val();
                const draw = $('#modalTeamDraw').val();
                const lose = $('#modalTeamLose').val();
                const scorePoint = $('#modalTeamScorePoint').val();
                const losePoint = $('#modalTeamLosePoint').val();

                if (win.length == 0 || draw.length == 0 || lose.length == 0 ||
                    scorePoint.length == 0 || losePoint.length == 0) {
                    alert("값이 비어있으면 기록 변경이 안됩니다.");
                    e.preventDefault();
                    return;
                }

                const ranking = {
                    rankingId : rankingId,
                    win : win,
                    draw : draw,
                    lose : lose,
                    scorePoint : scorePoint,
                    losePoint : losePoint
                };

                $.ajax({
                    url : "/admin/modify-ranking",
                    method : "POST",
                    contentType : "application/json",
                    data : JSON.stringify(ranking),
                    dataType : "text",
                    success : (response, status, xhr) => {
                        if (response == "success") {
                            alert("기록 수정하였습니다.");
                            moduleBox.load("/admin/get-rankingTable?competitionValue=" + competitionValue + "&seasonValue=" + season, () => {
                                appendOption();
                            });
                            $('#exampleModal2').modal('hide');
                        }
                    },
                    error : (status, xhr, error) => {
                        alert("기록 수정을하지 못했습니다. 다시 시도해주세요.");
                    }
                });
            });

            // 경기 결과 저장 버튼
            resultSaveButton.on('click', (e) => {
                const seasonText = $('#seasonValue').val();
                const seasonValue = Number(seasonText.replace("/", ""));
                const competitionId = $('#competitionSelect').val();
                const homeId = homeTeamId.val();
                const homeScore = $('#homeScore').val();
                const awayId = awayTeamId.val();
                const awayScore = $('#awayScore').val();

                if (homeId.length == 0) {
                    alert("홈팀이 비어있습니다.");
                    e.preventDefault();
                }
                if (homeScore.length == 0) {
                    alert("홈팀 스코어가 비어있습니다.");
                    e.preventDefault();
                }
                if (awayId.length == 0) {
                    alert("어웨이팀이 비어있습니다.");
                    e.preventDefault();
                }
                if (awayScore.length == 0) {
                    alert("어웨이팀 스코어가 비어있습니다.");
                    e.preventDefault();
                }

                $.ajax({
                    url : "/admin/save-ranking",
                    method : "POST",
                    data : "seasonValue=" + seasonValue + "&competitionId=" + competitionId +
                            "&homeId=" + homeId + "&homeScore=" + homeScore +
                            "&awayId=" + awayId + "&awayScore=" + awayScore,
                    dataType : "text",
                    success : (response, status, xhr) => {
                        if (response == "success") alert("경기 결과를 저장하였습니다.");
                    },
                    error : (status, xhr, error) => {
                        alert("경기 결과를 저장하지 못했습니다. 다시 시도해주세요.");
                    }
                });
            });

            // 유럽대항전 진출 순위 조정
            moduleBox.on('click', '#leagueSaveButton', (e) => {
                const competitionId = $('#rankingCompetitionSelect').val();
                const clFrom = $('#championsLeagueFrom').val();
                const clTo = $('#championsLeagueTo').val();
                const olFrom = $('#otherLeagueFrom').val();
                const olTo = $('#otherLeagueTo').val();

                $.ajax({
                    url : "/admin/save-competition-league",
                    method : "POST",
                    data : "clFrom=" + clFrom + "&clTo=" + clTo +
                           "&olFrom=" + olFrom + "&olTo=" + olTo + "&competitionId=" + competitionId,
                    dataType : "text",
                    success : (response, status, xhr) => {
                        if (response == "success") {
                            alert("진출 순위가 저장되었습니다.");
                            moduleBox.load("/admin/get-rankingTable?competitionValue=" + competitionValue + "&seasonValue=" + season, () => {
                                appendOption();
                            });
                        }
                        if (response == "clTo") {
                            alert("챔피언스리그 진출 순위가 맞지 않습니다. 다시 설정해주세요.");
                        }
                        if (response == "olTo") {
                            alert("유로파 및 컨퍼런스 진출 순위가 맞지 않습니다. 다시 설정해주세요.");
                        }
                        if (response == "dup") {
                            alert("챔피언스리그 순위와 유로파 및 컨퍼런스 순위가 겹칩니다. 다시 설정해주세요.");
                        }
                    },
                    error : (status, xhr, error) => {
                        alert("진출 순위를 저장하지 못했습니다. 다시 시도해주세요.");
                    }
                });
            });

        });
    </script>
</body>
</html>