<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mezzala.mapper.ScheduleMapper">
    <resultMap id="ScheduleResultMap" type="com.mezzala.dto.ScheduleDto">
        <id property="scheduleId" column="s_schedule_id"/>
        <result property="scheduleDate" column="s_schedule_date"/>
        <result property="competitionId" column="s_competition_id"/>
        <result property="roundId" column="s_round_id"/>
        <result property="homeTeamId" column="s_home_team_id"/>
        <result property="awayTeamId" column="s_away_team_id"/>
        <association property="competition" javaType="com.mezzala.dto.CompetitionDto">
            <id property="competitionId" column="c_competition_id"/>
            <result property="competitionName" column="c_competition_name"/>
            <result property="logoAddress" column="c_logo_address"/>
        </association>
        <association property="competitionRound" javaType="com.mezzala.dto.CompetitionRoundDto">
            <id property="roundId" column="cr_round_id"/>
            <result property="roundName" column="cr_round_name"/>
        </association>
        <association property="homeTeam" javaType="com.mezzala.dto.TeamDto">
            <id property="teamId" column="ht_team_id"/>
            <result property="teamName" column="ht_team_name"/>
            <result property="logoAddress" column="ht_logo_address"/>
        </association>
        <association property="awayTeam" javaType="com.mezzala.dto.TeamDto">
            <id property="teamId" column="at_team_id"/>
            <result property="teamName" column="at_team_name"/>
            <result property="logoAddress" column="at_logo_address"/>
        </association>
    </resultMap>

    <select id="selectSchedule" parameterType="hashmap" resultMap="ScheduleResultMap">
        SELECT
            s.schedule_id AS s_schedule_id,
            s.schedule_date AS s_schedule_date,
            s.competition_id AS s_competition_id,
            s.round_id AS s_round_id,
            s.home_team_id AS s_home_team_id,
            s.away_team_id AS s_away_team_id,

            c.competition_id AS c_competition_id,
            c.competition_name AS c_competition_name,
            c.logo_address AS c_logo_address,

            cr.round_id AS cr_round_id,
            cr.round_name AS cr_round_name,

            ht.team_id AS ht_team_id,
            ht.team_name AS ht_team_name,
            ht.logo_address AS ht_logo_address,

            at.team_id AS at_team_id,
            at.team_name AS at_team_name,
            at.logo_address AS at_logo_address
        FROM
            schedule s
        LEFT JOIN
            competition c
        ON
            s.competition_id = c.competition_id
        LEFT JOIN
            competition_round cr
        ON
            s.round_id = cr.round_id
        LEFT JOIN
            team ht
        ON
            s.home_team_id = ht.team_id
        LEFT JOIN
            team at
        ON
            s.away_team_id = at.team_id
        WHERE
            s.schedule_date &gt;= #{fromDay}
        AND
            s.schedule_date &lt; #{tillDay}
        ORDER BY
            s.competition_id,
            s.schedule_date
    </select>

</mapper>