<header class="header" xmlns:th="http://www.thymeleaf.org">
    <div class="header-container">
        <div></div>
        <div class="head"><a href="/">FootballHub</a></div>
        <div class="account-section">
            <th:block th:if="${session.user != null}">
                <button th:if="${session.user.userRole.roleName == 'admin'}">
                    <a href="/admin/notice">관리자</a>
                </button>
                <button>
                    <a href="/mypage/myinfo">라커룸</a>
                </button>
                <button id="logOut" onclick="logOut()">
                    로그아웃
<!--                    <a th:href="@{/account/log-out(socialMethod=${session.user.socialMethod})}">-->
<!--                        로그아웃-->
<!--                    </a>-->
                </button>
                <script type="text/javascript" th:inline="javascript">
                    function logOut() {
                        const socialMethod = /*[[${session.user.socialMethod}]]*/'';
                        const url = new URL(window.location.href);
                        const returnUri = url.pathname + url.search;
                        location.href = '/account/log-out?returnUri=' + encodeURIComponent(returnUri) +
                                                         '&socialMethod=' + socialMethod;
                    }
                </script>
            </th:block>
            <th:block th:if="${session.user == null}">
                <button id="signUp"><a href="/account/sign-up">회원가입</a></button>
                <button id="signIn" onclick="logIn()">로그인</button>
                <script type="text/javascript">
                    function logIn() {
                        const url = new URL(window.location.href);
                        const returnUri = url.pathname + url.search;
                        location.href = '/account/sign-in?returnUri=' + encodeURIComponent(returnUri);
                    }
                </script>
<!--                <button id="signIn"><a href="/account/sign-in">로그인</a></button>-->
            </th:block>
        </div>
    </div>
    <nav>
        <ul class="nav nav-underline justify-content-center">
            <li class="nav-item">
<!--                <a class="nav-link active text-primary" aria-current="page" href="#">일반HUB</a>-->
                <a class="nav-link location-category" id="normalhubLocation" href="/normalhub/home">일반HUB</a>
            </li>
            <li class="nav-item">
                <a class="nav-link location-category" id="fandomhubLocation" href="/fandomhub/home">팬덤HUB</a>
            </li>
            <li class="nav-item">
                <a class="nav-link location-category" id="wikiLocation" href="/footballWiki/home">FootballWiki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link location-category" href="#">순위표</a>
            </li>
            <li class="nav-item">
                <a class="nav-link location-category" href="/request/home">요청글</a>
            </li>
        </ul>
    </nav>
</header>