<header class="header" xmlns:th="http://www.thymeleaf.org">
    <div class="header-container">
        <div></div>
        <div class="head"><a href="/">FootballHub</a></div>
        <div class="account-section">
            <button th:if="${session.user != null}">
                <a href="/mypage/myinfo">라커룸</a>
            </button>
            <button th:if="${session.user != null}" id="logOut">
                <a th:href="@{/account/log-out(socialMethod=${session.user.socialMethod})}">
                    로그아웃
                </a>
            </button>
            <th:block th:if="${session.user == null}">
                <button id="signUp"><a href="/account/sign-up">회원가입</a></button>
                <button id="signIn"><a href="/account/sign-in">로그인</a></button>
            </th:block>
        </div>
    </div>
    <nav>
        <ul class="nav nav-underline justify-content-center">
            <li class="nav-item">
<!--                <a class="nav-link active text-primary" aria-current="page" href="#">일반HUB</a>-->
                <a class="nav-link location-category" id="normalhubLocation" href="/normalhub/home">일반HUB</a>
            </li>
            <li class="nav-item">
                <a class="nav-link location-category" id="fandomhubLocation" href="#">팬덤HUB</a>
            </li>
            <li class="nav-item">
                <a class="nav-link location-category" id="wikiLocation" href="#">FootballWiki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link location-category" href="#">순위표</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li> -->
        </ul>
    </nav>
</header>