<header class="header" xmlns:th="http://www.thymeleaf.org">
    <div class="header-container">
        <div></div>
        <div class="head"><a href="/">FootballHub</a></div>
        <div class="account-section">
            <button th:if="${session.user != null}" id="logOut">로그아웃</button>
            <th:block th:if="${session.user == null}">
                <button id="signUp">회원가입</button>
                <button id="signIn">로그인</button>
            </th:block>
        </div>
    </div>
    <nav>
        <div>nav-section</div>
    </nav>
</header>