<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/ranking.css">
    <title>FootballHub</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div></div>
            <div class="head">순위표</div>
        </div>
        <nav>
            <!-- <ul class="nav nav-pills justify-content-center"> -->
            <ul class="nav nav-pills nav-ranking">
                <!-- <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">영국</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">프리미어리그</a></li>
                        <li><a class="dropdown-item" href="#">FA컵</a></li>
                        <li><a class="dropdown-item" href="#">카라바오컵</a></li>
                        <!-- <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li> -->
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">스페인</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">라리가</a></li>
                        <li><a class="dropdown-item" href="#">코파 델 레이</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">독일</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">분데스리가</a></li>
                        <li><a class="dropdown-item" href="#">DFB-포칼컵</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">이탈리아</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">세리에A</a></li>
                        <li><a class="dropdown-item" href="#">코파 이탈리아</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">프랑스</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">리그앙</a></li>
                        <li><a class="dropdown-item" href="#">쿠프 드 프랑스</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">컵 대회</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">챔피언스리그</a></li>
                        <li><a class="dropdown-item" href="#">유로파리그</a></li>
                        <li><a class="dropdown-item" href="#">컨퍼러스리그</a></li>
                    </ul>
                </li>

                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li> -->
            </ul>
        </nav>
    </header>
    <main class="main-ranking">
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>순위</th>
                    <th>팀명</th>
                    <th>경기수</th>
                    <th>승</th>
                    <th>무</th>
                    <th>패</th>
                    <th>득</th>
                    <th>실</th>
                    <th>승점</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-primary">
                    <td>1</td>
                    <td><img src="https://upload.wikimedia.org/wikipedia/en/0/0c/Liverpool_FC.svg" class="logo"> 리버풀</td>
                    <td>31</td><td>22</td><td>7</td><td>2</td><td>72</td><td>30</td><td>73</td>
                </tr>
                <tr class="bg-primary">
                    <td>2</td>
                    <td><img src="https://upload.wikimedia.org/wikipedia/en/5/53/Arsenal_FC.svg" class="logo"> 아스널</td>
                    <td>31</td><td>17</td><td>11</td><td>3</td><td>56</td><td>26</td><td>62</td>
                </tr>
                <tr class="bg-primary">
                    <td>3</td>
                    <td><img src="https://upload.wikimedia.org/wikipedia/en/e/e5/Nottingham_Forest_F.C._logo.svg" class="logo"> 노팅햄 포레스트</td>
                    <td>31</td><td>17</td><td>6</td><td>8</td><td>51</td><td>37</td><td>57</td>
                </tr>
                <tr class="bg-primary">
                    <td>4</td>
                    <td><img src="https://upload.wikimedia.org/wikipedia/en/c/cc/Chelsea_FC.svg" class="logo"> 첼시</td>
                    <td>31</td><td>15</td><td>8</td><td>8</td><td>54</td><td>37</td><td>53</td>
                </tr>
                <tr class="bg-info">
                    <td>5</td>
                    <td><img src="https://upload.wikimedia.org/wikipedia/en/5/56/Newcastle_United_Logo.svg" class="logo"> 뉴캐슬 유나이티드</td>
                    <td>30</td><td>16</td><td>5</td><td>9</td><td>52</td><td>39</td><td>53</td>
                </tr>
                <tr class="bg-info">
                    <td>6</td>
                    <td><img src="https://upload.wikimedia.org/wikipedia/en/e/eb/Manchester_City_FC_badge.svg" class="logo"> 맨체스터 시티</td>
                    <td>31</td><td>15</td><td>7</td><td>9</td><td>57</td><td>40</td><td>52</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td><img src="//upload.wikimedia.org/wikipedia/en/thumb/9/9a/Aston_Villa_FC_new_crest.svg/250px-Aston_Villa_FC_new_crest.svg.png" class="logo"> 아스톤 빌라</td>
                    <td>31</td><td>14</td><td>9</td><td>8</td><td>46</td><td>46</td><td>51</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td><img src="//upload.wikimedia.org/wikipedia/en/thumb/e/eb/Fulham_FC_%28shield%29.svg/250px-Fulham_FC_%28shield%29.svg.png" class="logo"> 풀햄</td>
                    <td>31</td><td>13</td><td>9</td><td>9</td><td>47</td><td>42</td><td>48</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td><img src="//upload.wikimedia.org/wikipedia/en/thumb/d/d0/Brighton_and_Hove_Albion_FC_crest.svg/250px-Brighton_and_Hove_Albion_FC_crest.svg.png" class="logo"> 브라이튼&호프 알비온</td>
                    <td>31</td><td>12</td><td>11</td><td>8</td><td>49</td><td>47</td><td>47</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td><img src="//upload.wikimedia.org/wikipedia/en/thumb/e/e5/AFC_Bournemouth_%282013%29.svg/150px-AFC_Bournemouth_%282013%29.svg.png" class="logo"> AFC 본머스</td>
                    <td>31</td><td>12</td><td>9</td><td>10</td><td>51</td><td>40</td><td>45</td>
                </tr>
                <!-- <tr>
                  <td>11</td>
                  <td><img src="//upload.wikimedia.org/wikipedia/ko/thumb/f/f7/%ED%81%AC%EB%A6%AC%EC%8A%A4%ED%84%B8_%ED%8C%B0%EB%A6%AC%EC%8A%A4_%EB%A1%9C%EA%B3%A0.svg/175px-%ED%81%AC%EB%A6%AC%EC%8A%A4%ED%84%B8_%ED%8C%B0%EB%A6%AC%EC%8A%A4_%EB%A1%9C%EA%B3%A0.svg.png"
                    class="logo"> 크리스털 팰리스</td>
                  <td>30</td><td>11</td><td>10</td><td>9</td><td>39</td><td>35</td><td>43</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td><img src="//upload.wikimedia.org/wikipedia/en/thumb/2/2a/Brentford_FC_crest.svg/190px-Brentford_FC_crest.svg.png" class="logo"> 브렌트포드</td>
                  <td>31</td><td>12</td><td>6</td><td>13</td><td>51</td><td>47</td><td>42</td>
                </tr>
                <tr>
                  <td>13</td>
                  <td><img src="//upload.wikimedia.org/wikipedia/en/thumb/7/7a/Manchester_United_FC_crest.svg/210px-Manchester_United_FC_crest.svg.png" class="logo"> 맨체스터 유나이티드</td>
                  <td>31</td><td>10</td><td>8</td><td>13</td><td>37</td><td>41</td><td>38</td>
                </tr>
                <tr>
                  <td>14</td>
                  <td><img src="//upload.wikimedia.org/wikipedia/en/thumb/b/b4/Tottenham_Hotspur.svg/120px-Tottenham_Hotspur.svg.png" class="logo"> 토트넘 홋스퍼</td>
                  <td>31</td><td>11</td><td>4</td><td>16</td><td>58</td><td>45</td><td>37</td>
                </tr>
                <tr>
                  <td>15</td>
                  <td><img src="//upload.wikimedia.org/wikipedia/en/thumb/7/7c/Everton_FC_logo.svg/250px-Everton_FC_logo.svg.png" class="logo"> 에버튼</td>
                  <td>31</td><td>7</td><td>14</td><td>10</td><td>33</td><td>38</td><td>35</td>
                </tr>
                <tr>
                  <td>16</td>
                  <td><img src="//upload.wikimedia.org/wikipedia/en/thumb/c/c2/West_Ham_United_FC_logo.svg/175px-West_Ham_United_FC_logo.svg.png" class="logo"> 웨스트햄 유나이티드</td>
                  <td>31</td><td>9</td><td>8</td><td>14</td><td>35</td><td>52</td><td>35</td>
                </tr>
                <tr>
                  <td>17</td>
                  <td><img src="//upload.wikimedia.org/wikipedia/en/thumb/c/c9/Wolverhampton_Wanderers_FC_crest.svg/200px-Wolverhampton_Wanderers_FC_crest.svg.png" class="logo"> 울버햄튼 원더러스</td>
                  <td>31</td><td>9</td><td>5</td><td>17</td><td>43</td><td>59</td><td>32</td>
                </tr>
                <tr class="bg-warning bg-gradient">
                  <td>18</td>
                  <td><img src="//upload.wikimedia.org/wikipedia/en/thumb/4/43/Ipswich_Town.svg/250px-Ipswich_Town.svg.png" class="logo"> 입스위치 타운</td>
                  <td>31</td><td>4</td><td>8</td><td>19</td><td>31</td><td>65</td><td>20</td>
                </tr>
                <tr class="bg-warning bg-gradient">
                  <td>19</td>
                  <td><img src="//upload.wikimedia.org/wikipedia/en/thumb/2/2d/Leicester_City_crest.svg/190px-Leicester_City_crest.svg.png" class="logo"> 레스터 시티</td>
                  <td>31</td><td>4</td><td>5</td><td>22</td><td>25</td><td>70</td><td>17</td>
                </tr>
                <tr class="bg-warning bg-gradient">
                  <td>20</td>
                  <td><img src="//upload.wikimedia.org/wikipedia/en/thumb/c/c9/FC_Southampton.svg/250px-FC_Southampton.svg.png" class="logo"> 사우샘프턴</td>
                  <td>31</td><td>2</td><td>4</td><td>25</td><td>23</td><td>74</td><td>10</td>
                </tr> -->
                </tbody>
            </table>
        </div>
        <button class="more-ranking-button">더보기</button>
    </main>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="text/javascript" th:inline="javascript">
        $(window).on('load', function() {


        });
    </script>
</body>
</html>